AIDRS - Automated Incident Detection & Response System(4).json
{
  "name": "AIDRS - Automated Incident Detection & Response System",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        1056
      ],
      "id": "c5ee383c-46ac-4c06-bc92-d93277cefa33",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "08629157-d03a-4181-9529-61625236add7",
              "leftValue": "={{$json['severity']}}",
              "rightValue": "CRITICAL",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9b1a2c3d-4e5f-6a7b-8c9d-0e1f2a3b4c5d",
              "leftValue": "={{$json['severity']}}",
              "rightValue": "HIGH",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "51df126f-b6f7-427b-8140-f7bc27aa2520",
              "leftValue": "={{$json['severity']}}",
              "rightValue": "MEDIUM",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        864
      ],
      "id": "e4c3117d-c827-47de-b07d-76cffbab0a70",
      "name": "If Critical or High Severity"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://f3f8912645c7.ngrok-free.app/api/v1/incident/detect",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        1152
      ],
      "id": "a1910787-30c1-4b55-953f-110ae56d9c3f",
      "name": "HTTP Request to AIDRS"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"serviceName\": \"auth-api\",\n  \"environment\": \"production\",\n  \"failureCount\": 7,\n  \"responseTimeMs\": 3200,\n  \"errorMessage\": \"Database timeout after 30s\",\n  \"timestamp\": \"{{ $now() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        1152
      ],
      "id": "96e565bc-f3cf-465a-919f-df13fe3f677c",
      "name": "Set Incident Data"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "57791022-7e96-47d4-9acf-1c33a2f6a17b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        1152
      ],
      "id": "4aa99c73-2e74-4a28-8d20-3a52b3b292f4",
      "name": "Webhook (Trigger)",
      "webhookId": "57791022-7e96-47d4-9acf-1c33a2f6a17b"
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"🚨 *INCIDENT DETECTED* 🚨\\n\\n*Service:* {{ $json['serviceName'] }}\\n*Severity:* {{ $json['severity'] }}\\n*Status:* {{ $json['systemStatus'] }}\\n*Time:* {{ $json['analyzedAt'] }}\\n\\n*Recommendation:*\\n{{ $json['recommendation'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        864
      ],
      "id": "a8d30485-f05c-4f01-8e3b-4937389fd829",
      "name": "Send to Slack"
    },
    {
      "parameters": {
        "url": "https://your-jira-instance.atlassian.net/rest/api/2/issue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"fields\": {\n    \"project\": {\n      \"key\": \"INC\"\n    },\n    \"summary\": \"Incident: {{ $json['serviceName'] }} - {{ $json['severity'] }}\",\n    \"description\": \"*Service:* {{ $json['serviceName'] }}\\n*Severity:* {{ $json['severity'] }}\\n*Response Time:* {{ $json['responseTimeMs'] }}ms\\n*Failure Count:* {{ $json['failureCount'] }}\\n\\n*AI Analysis:*\\n{{ $json['aiInsight'] }}\",\n    \"issuetype\": {\n      \"name\": \"Bug\"\n    },\n    \"priority\": {\n      \"name\": \"{{ $json['severity'] == 'CRITICAL' ? 'Highest' : $json['severity'] == 'HIGH' ? 'High' : 'Medium' }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        1248
      ],
      "id": "6850aa2e-94b5-477b-9a8c-e9a99bd47b56",
      "name": "Create Jira Ticket"
    },
    {
      "parameters": {
        "url": "https://events.pagerduty.com/v2/enqueue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"routing_key\": \"YOUR_PAGERDUTY_INTEGRATION_KEY\",\n  \"event_action\": \"trigger\",\n  \"dedup_key\": \"incident-{{ $json.serviceName }}-{{ $now.toMillis() }}\",\n  \"payload\": {\n    \"summary\": \"CRITICAL: {{ $json.serviceName }} is experiencing issues\",\n    \"severity\": \"critical\",\n    \"source\": \"AIDRS\",\n    \"component\": \"{{ $json.serviceName }}\",\n    \"custom_details\": {\n      \"severity\": \"{{ $json.severity }}\",\n      \"response_time_ms\": {{ $json.responseTimeMs }},\n      \"failure_count\": {{ $json.failureCount }},\n      \"recommendation\": \"{{ $json.recommendation }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        672
      ],
      "id": "da6098b0-81d4-4407-b2f0-5bc73eb7a04a",
      "name": "Page via PagerDuty"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "severity-check",
              "leftValue": "={{$json['severity']}}",
              "rightValue": "LOW",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        1392
      ],
      "id": "8cf83567-bdec-4a42-9852-74b98c168237",
      "name": "If Low Severity"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"message\": \"Low severity incident logged for {{ $json['serviceName'] }}\",\n  \"severity\": \"{{ $json['severity'] }}\",\n  \"timestamp\": \"{{ $now() }}\",\n  \"service\": \"{{ $json['serviceName'] }}\",\n  \"auto_resolvable\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        1440
      ],
      "id": "9c29759d-d123-4143-9d0d-e79a77becce8",
      "name": "Log Incident"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Trigger)": {
      "main": [
        [
          {
            "node": "Set Incident Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Incident Data": {
      "main": [
        [
          {
            "node": "HTTP Request to AIDRS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to AIDRS": {
      "main": [
        [
          {
            "node": "If Critical or High Severity",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Low Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Critical or High Severity": {
      "main": [
        [
          {
            "node": "Page via PagerDuty",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Jira Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Low Severity": {
      "main": [
        [
          {
            "node": "Log Incident",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fcd25b4d-0749-4daf-b951-5cd3aa1faa26",
  "meta": {
    "instanceId": "4334fdefa36b6ea7a600b79ed3344319cf71589d72bbc805a4a49ca99053bca3"
  },
  "id": "LGYL7138Nm05ogKS",
  "tags": []
}